# intelliJ idea
*.log
*.iml
*.ipr
*.iws
.idea

# vs code
.vscode

# eclipse
build/
.classpath
.project
.settings
.worksheet
bin/
.cache

# general
*.class
null/

# mac
.DS_Store

# used by the restarr/restarrFull commands as target directories
/build-restarr/
/target-restarr/

# other
.history
.scala_dependencies
.cache-main